url = "/blog/category/:slug/:page?"
layout = "blog-layout"

[blogCategories]
[blogPosts]

categoryFilter = {{ :slug }}
==
function onEnd() {
if ($this->category) {
$this['category'] = $this->category;
$this->page->title = $this->category->name;
} else {
return Redirect::to('404');
}
}
==
{% set posts = blogPosts.postsByCate %}
<link rel="stylesheet" href="{{ 'assets/css/common_custom.css'|theme }}">
<div style="min-height: 69%" id="main">
    <div class="container">
        <div class="main-content row" style="margin-top: 20px">
            <section>
                <div class="col-md-12 col-lg-12">
                    <div class="filter-block">
                        <h3>{{ category.name }}({{posts.total}})</h3>
                        <p>{{ category.description }}</p>
                        {% set tags = blogCategories.getTagsByCategory(category.id) %}
                        {% if tags %}
                        <ul class="tag-list list-tag-category">
                            {% for tag in tags %}
                            <li class="tag btn_tag" data-color="{{tag.tag_color}}"><a style="color: #645D5B"
                                                                                          href="/blog/tags/{{ tag.slug }}">{{
                                tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tagheader__show-tags button--text-link current"><a href="javascript:void(0) ">関連するタグをさらに見る
                            &gt;</a></div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <div class="col-md-8">
                <section class="category-list">
                    {% if posts.count %}
                    <div class="row">
                        <ul class="list-item">
                            {% for post in posts %}
                            <li class="col-md-4 col-sm-4 col-xs-6">
                                <div class="card">
                                    <a href="/blog/post/{{ post.id }}" class="card-main">
                                        <div class="card-image" style="background-image:url('{{ post.featured_image.path }}')"></div>
                                        <div class="card-cate clearfix">
                                            {% if blogPosts.getNameCategory(post.id) != '' %}
                                            <div style="background-color: {{ blogPosts.getColorCategory(post.id) }};">{{ blogPosts.getNameCategory(post.id) }}</div>
                                            {% else %}
                                            <div style="background-color: #dddddd; text-indent: 100%; overflow: hidden">No data.</div>
                                            {% endif %}
                                            {% if blogPosts.getNameFirstTag(post.id) != '' %}
                                            <div style="background-color: #ddd;color: #666;">{{ blogPosts.getNameFirstTag(post.id) }}</div>
                                            {% else %}
                                            <div style="background-color: #ddd; text-indent: 100%; overflow: hidden">No data.</div>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <p class="card-description">{{ str_limit(post.title, 50) }}</p>
                                            <span class="card-date"><i class="ico-calendar-full" style="margin-right: 5px"></i>{{ post.published_at|date('Y.m.d') }}</span>
                                            <span class="card-time"><i class="ico-clock2" style="margin-right: 5px"></i>{{ post.published_at|date('H:i') }}</span>
                                        </div>
                                    </a>
                                    <div class="line" style="background-color: {{ blogPosts.getColorOfPost(post.id) }};"></div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% partial 'site/pagination' posts=posts %}
                    {% else %}
                    {% content 'no-data.htm' %}
                    {% endif %}
                </section>
            </div>
            <div class="col-md-4">
                <div class="sidebar side_2" style="padding-top: 0px !important;margin-top: 20px">
                    {% if siteBar.count %}
                    {% for bar in siteBar %}
                    <div class="sidebar-block post-popular" {% if bar.type == 3 %} style="padding: 0px !important; box-shadow: 0px 0px 0px 0px #bbb !important;" {% endif %}>
                        {% if bar.type != 3 %}
                        <h3 class="sidebar-title" style="color:#ffffff;">{{ bar.name }}</h3>
                        {% endif %}
                        <!--if bar is banner-->
                        {% if bar.type == 3 %}
                        <a href="{{ blogPosts.getLinkBanner(bar.content_type) }}">
                            <img class="img-responsive" src="{{ bar.banner_image.path }}" alt="">
                        </a>
                        <!--if bar is banner-->
                        {% else %}
                        {% set posts = blogPosts.getSiteBar(bar.content_type, bar.type) %}
                        {% if posts.count %}
                        <ul class="popular-list">
                            {% for post in posts %}
                            <li>
                                <a href="/blog/post/{{ post.id }}">
                                    <img src="{{ post.featured_image.path }}" alt="">
                                    <div class="desc">
                                        <p style="word-break: normal">{{ str_limit(post.title, 40) }}</p>
                                        <small>
                                            <span class="date"><i class="ico-calendar-31"></i>{{ post.published_at|date('Y.m.d') }}</span>
                                            {% if post.count_view %}
                                            <span class=""><i class="ico-graph"></i>{{ post.count_view }}</span>
                                            {% endif %}
                                        </small>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>